
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

a
{
	text-decoration: none;
	color: black;
	cursor: pointer;
}

p
{
    font-family: "Roboto", "sans-serif";
}

h2
{
    font-family: "Roboto", "sans-serif";
    font-size: 25px;
}

h3
{
    font-family: "Shrikhand", "sans-serif";
    font-weight: normal;
    margin-left: 40px;
}


.Bold
{
  font-weight: bold;
}

.MargeG
{
    margin-left: 15px;
}

.MargeD
{
    margin-right: 15px;
}

.MargeD2
{
    margin-right: 10px;
}

.MargeDResponsiv
{
    margin-right: 30px;
}

.MargeH
{
    margin-top: 30px;
}

.MargeB
{
    margin-bottom: 30px;
}

.ohmyfood
{
    color: white;
}

.Blanc
{
    color: white;
}

.CentrerColumn
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;  
}

.CentrerRow
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px; 
}


/*////////////////////////////////////////*/

.loader
{
position: fixed;
background-color: white;
height: 100vh;
inset: 0;
z-index: 2;
opacity: 0.9;
animation: LoaderEnd 2s forwards;

}

@keyframes LoaderEnd
{
    0% {transform: scale(1);}
    90% {transform: scale(1);}
    100% {transform: scale(0);}
}

.Circle
{
    z-index: 1;
    margin: auto;  
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;

    width: 100px;
    height: 100px;

    border: 10px solid black;
    border-top: 10px solid #9356DC ; 
    border-right: 10px solid #FF79DA ;
    border-bottom: 10px solid #99E2D0 ;
    border-left: 10px solid white;
    border-radius: 50%;

   -webkit-animation: spin 1.5s linear infinite; /*Chrome, explorer etc..*/
   -o-animation: spin 1.5s linear infinite;  /*Mozilla*/
   animation: spin 1.5s linear infinite;  
}

@-webkit-keyframes spin /*Permet d'optimiser le fonctionnement de l'animation sur les vieux navigateurs'*/
{
    0% {transform: rotate(0deg);} 
    100% {transform: rotate(360deg);}
}

@keyframes spin /*Permet de donner une specification au terme "spin"*/
{
    0% {transform: rotate(0deg);} 
    100% {transform: rotate(360deg);}
}

/*////////////////////////////////////////*/



						/* DEBUT DU HEADER */

.OhmyfoodMarge
{
    margin-top: 30px;
}

.SectionRecherche
{
    margin-top: 20px;
    background-color: rgb(235, 235, 235);
    border-top: 2px solid lightgray;
}



.SectionTitre
{
    background-color: #F2F2F2;
    padding-bottom: 50px;
}

.Titre1
{
    width: 50%;
    height: auto;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 50px;

}

.PlacementText
{
    width: 70%;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 30px;
}

.BoutonExplorer
{
    border: 0px solid;
    border-radius: 25px;
    padding: 15px;
    color: white;
    background: linear-gradient(to bottom right, #FF79DA , #9356DC )
}

.BoutonExplorer:hover
{
    box-shadow: 0px 1px 1px 1px rgb(76, 76, 76) ;
}

.BoutonExplorer:active
{
    box-shadow: 0px 1px 1px 1px white ;
}



/*////////////////////////////////////////*/



						/* DEBUT DU BODY */

.SectionFonctionnement
{
    width: 100%;
    height: auto;
    margin-top: 50px;
    padding-bottom: 50px;  
}



.BoutonFonctionnement
{
    position: relative;
    border: 0px solid;
    border-radius: 25px;
    box-shadow: 2px 2px 6px 2px #F2F2F2;
    padding: 10px;
    margin-bottom: 15px;
    width: 80%; 
    height: auto;
    justify-content: center;
    align-items: center;  
    cursor: pointer;
}

.BoutonFonctionnement:hover
{
    box-shadow: 8px 8px 8px rgb(214, 214, 214); 
    color: rgb(76, 76, 76);   
}

.BoutonFonctionnement:active
{
    box-shadow: 4px 4px 4px rgb(214, 214, 214);
    color: black;
}



.BoutonFonctionnement:hover > .fa-mobile-screen-button
{
    color: #9356DC;
}

.BoutonFonctionnement:hover > .fa-bars
{
    color: #9356DC;
}

.BoutonFonctionnement:hover > .fa-store
{
    color: #9356DC;
}

.Number
{
    position: absolute;
    left: -10px;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: #9356DC ;
}

.SectionRestaurant
{
    background-color: #F2F2F2;
    width: 100%;
    height: 1350px;
    padding-top: 30px;
}

.Carte
{
    background-color: white;
	width: 450px;
	height: 280px;
	border: 0px solid;
    border-radius: 20px  20px 20px 20px;
	box-shadow: 6px 6px 6px rgb(235, 235, 235);
    cursor: pointer;    
}

.Carte:hover
{
    box-shadow: 8px 8px 8px rgb(214, 214, 214); 
    color: rgb(76, 76, 76);
}

.Carte:active
{
    box-shadow: 4px 4px 4px rgb(214, 214, 214);
    color: black;
}

.BlocImage
{
 	border-radius: 20px  20px 0px 0px;
	width: 100%;
	height: 200px;
}

.Image1
{
    background-image: url("images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-size: cover;
	background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 20px  20px 0px 0px;
}

.Image2
{
    background-image: url("images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    background-size: cover;
	background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 20px  20px 0px 0px;
}

.Image3
{
    background-image: url("images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-size: cover;
	background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 20px  20px 0px 0px;
}

.Image4
{
    background-image: url("images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    background-size: cover;
	background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 20px  20px 0px 0px;
}

.Nouveau
{
    position: absolute;
    width: 90px;
    height: 35px;
    background-color: #99E2D0;
    color: green;
    border-radius: 5px 5px 5px 5px;
    bottom: 210px;
    right: 5%;
}

.BlocTexte
{
    position: relative;
}

.fa-heart
{
	position: absolute;
	bottom: 40%;
	margin-left: 90%;
    font-size: 25px;
}

.fa-solid-heart
{
    color: transparent;
    background-image: linear-gradient(to bottom right, #FF79DA , #9356DC );
    background-clip: text; /*Permet de dfinir ou l'on veut appliquer la modification*/
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 350ms ease-out;
}

.Carte:hover .fa-solid-heart
{
    opacity: 1;
    transform: scale(1.1);
}

/*////////////////////////////////////////*/



						/* DEBUT DU FOOTER */

.SectionFooter
{
    width: 100%;
    height: auto;
    background-color: rgb(54, 54, 54);
    padding-top: 10px;
    padding-bottom: 10px;
}

.Liste
{
    display: flex;
    list-style: none;
    align-items: center;  
}

.Blanc:hover
{
  font-size: 17px;
}

/*--------------------------------------------RESPONSIVE TABLETTE (768px à 992px)------------------------------------------------*/

@media screen and  (min-width: 769px) and (max-width: 992px)
{


.BoutonFonctionnement
{
    position: relative;
    border: 0px solid;
    border-radius: 25px;
    box-shadow: 2px 2px 6px 2px #F2F2F2;
    padding: 10px;
    margin-bottom: 15px;
    width: 80%;
    max-width: 600px;
    height: auto;
    justify-content: center;
    align-items: center; 
}

.SectionRestaurant
{
    background-color: #F2F2F2;
    width: 100%;
    height: 700px;
    padding-top: 30px;
}


.ResponsivRow
{
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
}

.Carte
{
    background-color: white;
	width: 350px;
   	height: 230px;
    border: 0px solid;
    border-radius: 20px  20px 20px 20px;
	box-shadow: 6px 6px 6px rgb(235, 235, 235);
}    

.BlocImage
{
 	border-radius: 20px  20px 0px 0px;
	width: 100%;
	height: 150px;
}

.Nouveau
{
    position: absolute;
    width: 90px;
    height: 35px;
    background-color: #99E2D0;
    color: green;
    border-radius: 5px 5px 5px 5px;
    bottom: 160px;
    right: 5%;
}

}

/*--------------------------------------------RESPONSIVE DESKTOP (Superieur à 992px)------------------------------------------------*/

@media screen and  (min-width: 993px)
{

.BoutonExplorer
{
    border: 0px solid;
    border-radius: 25px;
    padding: 15px;
    color: white;
    background: linear-gradient(to bottom right, #FF79DA , #9356DC );
    font-size: 20px;
    
}



.FonctionnementRow
{
    display: flex;
    flex-direction: row;
   
}

.BoutonFonctionnement
{
    position: relative;
    border: 0px solid;
    border-radius: 25px;
    box-shadow: 2px 2px 6px 2px #F2F2F2;
    padding: 10px;
    margin-bottom: 15px;
    width: 80%;
    height: auto;
    justify-content: center;
    align-items: center; 
    margin-right: 20px;
    margin-left: 20px;
}

.SectionRestaurant
{
    background-color: #F2F2F2;
    width: 100%;
    height: 800px;
    padding-top: 30px;
}

.ResponsivRow
{
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
}

.Carte
{
    background-color: white;
	width: 450px;
   	height: 280px;
    border: 0px solid;
    border-radius: 20px  20px 20px 20px;
	box-shadow: 6px 6px 6px rgb(235, 235, 235);
  }    

.BlocImage
{
 	border-radius: 20px  20px 0px 0px;
	width: 100%;
	height: 200px;
}

.Nouveau
{
    position: absolute;
    width: 90px;
    height: 35px;
    background-color: #99E2D0;
    color: green;
    border-radius: 5px 5px 5px 5px;
    bottom: 210px;
    right: 5%;
}



}