
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

                /* ////   PROPRIETES GENERALE   ////  */
p
{
    font-family: "Roboto", "sans-serif";
}


h1
{
    font-family: "Shrikhand", "sans-serif";
    font-weight: normal;
    margin-left: 20px;
    font-size: 35px;
}

h2
{
    font-family: "Roboto", "sans-serif";
    font-size: 20px;
    font-weight: normal;
    margin-left: 20px;
}

h3
{
    font-family: "Shrikhand", "sans-serif";
    font-weight: normal;
    margin-left: 35px;
    font-size: 20px;
}

.Bold
{
  font-weight: bold;
}

.MargeG
{
    margin-left: 30px;
}

.MargeD
{
    margin-right: 15px;
}

.MargeD2
{
    margin-right: 12px;
}


.MargeH
{
    margin-top: 30px;
}

.MargeB
{
    margin-bottom: 30px;
}


.Blanc
{
    color: white;
}

a
{
	text-decoration: none;
	cursor: pointer;
}

.CentrerColumn
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}

.CentrerRow
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Centrer
{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*////////////////////////////////////////*/



						/* DEBUT DU HEADER */

Header
{
    width: 100%;
    height: 80px;
}

.ArrowPosition
{
   position: absolute;
   left: 30px;
}

.LogoResponsivSize
{
    width: 200px;
} 

/*////////////////////////////////////////*/



						/* DEBUT DU BODY */

.BlocImage
{
	width: 100%;
	height: 350px;
}

.Image
{
    background-image: url("images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-size: cover;
	background-position: center;
    width: 100%;
    height: 100%;
}

.SectionMenu
{
    border: 1px solid white;
    border-radius: 70px 70px;
    width: 100%;
    height: auto;
    margin-top: -70px;
    background-color: #F2F2F2;
}

.SectionTitre
{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;   
    width: 95%;
    height: 50px;    
}

.fa-heart
{
	position: absolute;
	top: 5px;
	margin-left: 90%;
    font-size: 35px;  
}

.fa-solid-heart
{
    color: transparent;
    background-image: linear-gradient(to bottom right, #FF79DA , #9356DC );
    background-clip: text; /*Permet de dfinir ou l'on veut appliquer la modification*/
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 350ms ease-out;
}

.fa-solid-heart:hover 
{
    opacity: 1;
    transform: scale(1.1);
}

.GreenLine
{
    border-bottom: 4px solid #99E2D0;
    width: 50px;
   
}

.BoutonMenu
{
    display: flex;
    flex-direction: row;
 
    margin-bottom: 25px;
   
    width: 85%;
    height: 80px;

    border: 0px solid;
    border-radius: 15px;
    box-shadow: 2px 2px 6px 2px #dcdbdb;
    background-color: #ffffff; 
 
    cursor: pointer; 

    overflow: hidden;

    
}

.animation1
{
    opacity: 0;
    -webkit-animation: apparrition 1.5s forwards; /*Chrome, explorer etc..*/
    -o-animation: apparrition 1.5s forwards;  /*Mozilla*/
    animation: apparrition 1.5s forwards;
}

.animation2
{
    opacity: 0;
    -webkit-animation: apparrition 1.5s 300ms forwards; /*Chrome, explorer etc..*/
    -o-animation: apparrition 1.5s 300ms forwards;  /*Mozilla*/
    animation: apparrition 1.5s 300ms forwards;
}

.animation3
{
    opacity: 0;
    -webkit-animation: apparrition 1.5s 600ms forwards; /*Chrome, explorer etc..*/
    -o-animation: apparrition 1.5s 600ms forwards;  /*Mozilla*/
    animation: apparrition 1.5s 600ms forwards;
}

@keyframes apparrition /*Permet de donner une specification au terme "apparrition"*/
{
 0% {transform: translateY(500px); 
    opacity: 0;
} 
 100% {transform: translateY(0px); 
    opacity: 1;
}
}

@-webkit-keyframes apparrition /*Permet d'optimiser le fonctionnement de l'animation sur les vieux navigateurs'*/
{
 0% {
    transform: translateY(500px);
    opacity: 0;   
} 
 100% {
    transform: translateY(0px); 
    opacity: 1;
}
}

.BoutonMenu:hover
{
    box-shadow: 8px 8px 8px rgb(214, 214, 214); 
    color: rgb(76, 76, 76);
}

.BoutonMenu:active
{
    box-shadow: 4px 4px 4px rgb(214, 214, 214);
    color: black;
}

.Details
{
 padding-left: 15px;
 width: 100%;
 height: 100%;
 
 overflow: hidden; /*Permet au texte de disparaitre sous l'animation de validation*/
}

.Tarif
{
    display: flex; 
    align-items: flex-end;
    font-weight: bold; 
    padding-right: 15px;
}

.Ellipsis
{
    font-size: 17px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;   
}

.Validation
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    height: 100%;
    border: 0px solid #99E2D0;
    background-color: #99E2D0;
    border-radius: 0 15px 15px 0; 
    margin-right: -100px;
    transition: 300ms ease-in-out;
}


.BoutonMenu:hover .Validation
{
    
    margin-right: 0px;
}

.BoutonMenu:hover .circle
{
    transform: rotate(0deg);
}

.Green
{
    color: #99E2D0;
}

.circle
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
    width: 20px;
    height: 20px;
    transition: transform 500ms ease-in-out ;
    transform: rotate(-360deg);
}

.validation
{
    width: 100px;
    height: 100%;
    border: 0px solid #99E2D0;
    background-color: #99E2D0;
    border-radius: 0 15px 15px 0;
}

.BoutonCommander
{
    border: 0px solid;
    border-radius: 25px;   
    box-shadow: 2px 6px 6px 2px #e0dfdf; 
    color: white;
    background: linear-gradient(to bottom right, #FF79DA , #9356DC );
    width: 200px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 60px;
    cursor: pointer;
}

.BoutonCommander:hover
{
    box-shadow: 0px 1px 1px 1px rgb(76, 76, 76) ;
    opacity: 0.8;
}

.BoutonCommander:active
{
    box-shadow: 0px 1px 1px 1px white ;
}


/*////////////////////////////////////////*/



						/* DEBUT DU FOOTER */

.SectionFooter
{
    width: 100%;
    height: auto;
    background-color: rgb(54, 54, 54);
    padding-top: 10px;
    padding-bottom: 10px;
}

.Liste
{
    display: flex;
    list-style: none;
    align-items: center;  
}

.ohmyfood
{
    color: white;
}

.Blanc:hover
{
  font-size: 17px;
}

/*--------------------------------------------RESPONSIVE TABLETTE (768px à 992px)------------------------------------------------*/

@media screen and  (min-width: 769px) and (max-width: 992px)
{

h1
{
    font-size: 40px;
}    

h2
{
    margin-left: 10%;
    font-size: 22px;
    margin-bottom: 25px;
}

.LogoResponsivSize      /*Taille adaptative du logo "Ohmygod"*/
{
    width: 250px;
}  

.SectionMenu            /*Reduit la hauteur de la section body pour laisser plus de place a l'image*/
{
    margin-top: -50px;
}

.SectionTitre
{
    margin-bottom: 50px;
    justify-content: center;
}

.fa-heart
{
	margin-left: 65%;
     
}

.BoutonBase             /*Bouton de base pour les menus */
{
    width: 90%;
    padding: 20px;
}    



.BoutonCommander
{
    width: 230px;
   font-size: 18px; 
}

}

/*--------------------------------------------RESPONSIVE DESKTOP (Superieur à 992px)------------------------------------------------*/

@media screen and  (min-width: 993px)
{

h1
{
    font-size: 45px;
}  

h2
{
    margin-left: 13%;
    margin-bottom: 30px;
    font-size: 25px;

}    

.LogoResponsivSize              /*Taille adaptative du logo "Ohmygod"*/
{
    width: 300px;
} 

.SectionMenu                    /*Reduit la hauteur de la section body pour laisser plus de place a l'image*/
{
    margin-top: -50px;
}


.SectionTitre
{
    margin-bottom: 50px;
    justify-content: center;
}

.fa-heart
{
	margin-left: 65%;
     
}

.ResponsivDesktop
{
    display: flex;
    flex-direction: row;
}

.Entree
{
    width: 50%;
}

.Plat
{
    width: 50%;
}

.Dessert
{
    margin: auto;
    width: 60%;
}

.BoutonBase                     /*Bouton de base pour les menus */
{
    width: 65%;
    padding: 20px;
}    

.BoutonCommander
{
    width: 230px;
   font-size: 18px; 
}


}