
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

                /* ////   PROPRIETES GENERALE   ////  */

p
{
    font-family: "Roboto", "sans-serif";
}


h1
{
    font-family: "Shrikhand", "sans-serif";
    font-weight: normal;
    margin-left: 20px;
    font-size: 35px;
}

h2
{
    font-family: "Roboto", "sans-serif";
    font-size: 20px;
    font-weight: normal;
    margin-left: 20px;
}

h3
{
    font-family: "Shrikhand", "sans-serif";
    font-weight: normal;
    margin-left: 35px;
    font-size: 20px;
}


.Size20px
{
    font-size: 20px;
}

.Bold
{
  font-weight: bold;
}

.MargeG
{
    margin-left: 30px;
}

.MargeD
{
    margin-right: 15px;
}

.MargeD2
{
    margin-right: 12px;
}


.MargeH
{
    margin-top: 30px;
}

.MargeB
{
    margin-bottom: 30px;
}


.Blanc
{
    color: white;
}

a
{
	text-decoration: none;
	cursor: pointer;
    color: white;
}

.CentrerColumn
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}

.CentrerRow
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.Centrer
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.HeartIcone
{
margin-left: 30px;
font-size: 30px;
}

/*////////////////////////////////////////*/

.loader
{
position: fixed;
background-color: white;
height: 100vh;
inset: 0;
z-index: 2;
opacity: 0.9;
animation: LoaderEnd 3s forwards;

}

@keyframes LoaderEnd
{
    0% {transform: scale(1);}
    100% {transform: scale(0);}
}

.Circle
{
    z-index: 1;
    margin: auto;  
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;

    width: 100px;
    height: 100px;

    border: 10px solid black;
    border-top: 10px solid #9356DC ; 
    border-right: 10px solid #FF79DA ;
    border-bottom: 10px solid #99E2D0 ;
    border-left: 10px solid white;
    border-radius: 50%;

   -webkit-animation: spin 1.5s linear infinite; /*Chrome, explorer etc..*/
   -o-animation: spin 1.5s linear infinite;  /*Mozilla*/
   animation: spin 1.5s linear infinite;  
}

@-webkit-keyframes spin /*Permet d'optimiser le fonctionnement de l'animation sur les vieux navigateurs'*/
{
    0% {transform: rotate(0deg);} 
    100% {transform: rotate(360deg);}
}

@keyframes spin /*Permet de donner une specification au terme "spin"*/
{
    0% {transform: rotate(0deg);} 
    100% {transform: rotate(360deg);}
}

/*////////////////////////////////////////*/



						/* DEBUT DU HEADER */

Header
{
    width: 100%;
    height: 80px;
}

.ArrowPosition
{
   position: absolute;
   left: 30px;
}

.LogoResponsivSize
{
    width: 200px;
}

/*////////////////////////////////////////*/



						/* DEBUT DU BODY */

.BlocImage
{
	width: 100%;
	height: 350px;
}

.Image
{
    background-image: url("images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-size: cover;
	background-position: center;
    width: 100%;
    height: 100%;
}

.SectionMenu
{
    border: 1px solid white;
    border-radius: 70px 70px;
    width: 100%;
    height: auto;
    margin-top: -70px;
    background-color: #F2F2F2;
}

.TitrePosition
{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: auto;
}

.GreenLine
{
    border-bottom: 4px solid #99E2D0;
    width: 50px;
}

.BoutonBase
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0px solid;
    border-radius: 15px;
    box-shadow: 6px 6px 6px rgb(235, 235, 235);
    padding: 10px;
    margin-bottom: 15px;
    width: 90%;
    height: 60px;
    background-color: white;
   cursor: pointer;
}

.BoutonBase:hover
{
    box-shadow: 8px 8px 8px rgb(214, 214, 214); 
    color: rgb(76, 76, 76);
}

.BoutonBase:active
{
    box-shadow: 4px 4px 4px rgb(214, 214, 214);
    color: black;
}

.TextPosition
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -25px;
}

.BoutonCommander
{
    border: 0px solid;
    border-radius: 25px;   
    box-shadow: 2px 6px 6px 2px #e0dfdf; 
    color: white;
    background: linear-gradient(to bottom right, #FF79DA , #9356DC );
    width: 200px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 60px;
    cursor: pointer;
}

.BoutonCommander:hover
{
    box-shadow: 0px 1px 1px 1px rgb(76, 76, 76) ;
}

.BoutonCommander:active
{
    box-shadow: 0px 1px 1px 1px white ;
}

/*////////////////////////////////////////*/



						/* DEBUT DU FOOTER */

.SectionFooter
{
    width: 100%;
    height: auto;
    background-color: rgb(54, 54, 54);
    padding-top: 10px;
    padding-bottom: 10px;
}

.Liste
{
    display: flex;
    list-style: none;
    align-items: center;  
}

.ohmyfood
{
    color: white;
}

.Blanc:hover
{
  font-size: 17px;
  cursor: pointer;
}

/*--------------------------------------------RESPONSIVE TABLETTE (768px à 992px)------------------------------------------------*/

@media screen and  (min-width: 769px) and (max-width: 992px)
{

h1
{
    font-size: 40px;
}    

h2
{
    margin-left: 10%;
    font-size: 22px;
    margin-bottom: 25px;
}

.LogoResponsivSize      /*Taille adaptative du logo "Ohmygod"*/
{
    width: 250px;
}  

.SectionMenu            /*Reduit la hauteur de la section body pour laisser plus de place a l'image*/
{
    margin-top: -50px;
}

.TitrePosition
{
    display: flex;
    justify-content: center;
    align-items: center;
}


.BoutonBase             /*Bouton de base pour les menus */
{
    width: 65%;
    padding: 20px;
}    

.BoutonCommander
{
    width: 230px;
   font-size: 18px; 
}

}

/*--------------------------------------------RESPONSIVE DESKTOP (Superieur à 992px)------------------------------------------------*/

@media screen and  (min-width: 993px)
{

h1
{
    font-size: 45px;
}  

h2
{
    margin-left: 13%;
    margin-bottom: 30px;
    font-size: 25px;

}    

.LogoResponsivSize              /*Taille adaptative du logo "Ohmygod"*/
{
    width: 300px;
} 

.SectionMenu                    /*Reduit la hauteur de la section body pour laisser plus de place a l'image*/
{
    margin-top: -50px;
}


.TitrePosition
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.HeartIcone
{
    margin-left: 30px;
}

.BoutonBase                     /*Bouton de base pour les menus */
{
    width: 65%;
    padding: 20px;
}    

.BoutonCommander
{
    width: 230px;
   font-size: 18px; 
}


}